@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko:700&display=swap');
*{
	margin: 0;
	padding: 0;

}
body
{
    text-align: center;
    background-image: url(../../stadium.jpg);
    background-repeat: no-repeat 
    background-position: top;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.8);
    background-size: cover;
}

.hc
{
    margin: 0;
    padding:0;
    text-align: center;
}
h1
{
    font-size: 80px;
    margin-top: 150px;
    margin-left: 20px;
     font-family: 'Quicksand', sans-serif;
}
h2
{
    margin-top: 30px;
    margin-bottom: 60px;
    color: #5ab5c7;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif; 
}
.btn
{
    padding: 10px 40px;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 50px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 20px;
}
.btn:hover
{
    padding: 15px 50px;
    animation-name: animate;
    animation-duration:8s; 
}
@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%; 
    }
}
p
{
    margin-top: 20px;
    font-size: 25px; 
    font-family: 'Teko', sans-serif;
}